.App {
  text-align: center;
}

.m-plus-rounded-1c-thin {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.m-plus-rounded-1c-light {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.m-plus-rounded-1c-extrabold {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.m-plus-rounded-1c-black {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logInBox {
  display: flex ;
  justify-content: center;
  background-color: #dddded;
  padding: 3%;
  border-radius: 15px;
  text-align: center;
  width:70%;
  filter: drop-shadow(8px 8px 10px);
  margin-bottom: 5%;
  margin-top: 3%;
}

.logInBack {
  display: flex ;
  background-image: url('Assets/images/Hero header.jpg');
  justify-content: center;

}

.logInButtonImg{
  border-radius: 5px;
  max-width: 60%;
  margin-top:5%;
  margin-bottom:3%;
  border:#EFEBEA;
  border-width: 1px;
}

.logInButton{
  margin: 1%;
  padding: 0%;
  background-color: #EFEBEA;
  border-color: #1714b0;
  border-width: 2px;
  border-radius: 15px;
}

.logInButton:hover {
  background-color: #1714b0;
  color: white;
}

.loginPagination{
  display: flex ;
  justify-content: center;
  padding: 2%;
}

.logInButton{
  padding: 1%;
  background-color: #ffffff;
  border-color: #1714b0;
  border-width: 2px;
  border-radius: 15px;
  color: #1714b0;
}

.logInButton:hover {
  background-color: #1714b0;
  color: white;
}

.heroImage{
  background-image: url('Assets/images/Hero header.jpg');
  width:fit-content;
}

.herotext{
  padding-top: 15%;
  font-size: 315%;
  color: white;
}

.herocard{
  font-size: 18px;
  color: white;
  background-color: #282828de;
  border-color: white;
  border-style:solid;
  border-radius: 17px;
  border-width: 1px;
  padding:2%;
  width: 90%;
  margin-bottom: 33%;
}

.herocard:hover{
  filter: drop-shadow(3px 3px #1714b0);
  background-color: #151414de;
}

.marginBody{
  margin-left:13%;
}

.primaryButton{
  margin: 1%;
  padding: 1.2%;
  background-color: #ffffff;
  border-color: #1714b0;
  border-width: 2px;
  border-radius: 15px;
  padding-left: 0%;
}

.primaryButton:hover {
  background-color: #1714b0;
  color: white;
}

.buttontext {
  font-size: 16px;
  padding: 5%;
  color: #ffffff;
  text-decoration: none;
}

nav{
  padding: 1.5%;
  padding-left: 8%;
}

.pagelinks{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.pagelinks:hover{
  color: #0c08dd;
  filter: drop-shadow(1px 1px #b197ff);
}

input{
  border-color: #1714b0;
  border-width: 2px;
  padding: 1%;
  border-radius: 15px;
}

.LogInSubHeading{
  padding-bottom: 3%;
}

.passwordText{
  padding-top: 1%;
}
